[Unit]
Description=intragram
After=network.target

[Service]
Type=forking
WorkingDirectory=/home/ubuntu/intragram
Restart=always
RestartSec=3
ExecStart=/usr/bin/screen -L -dmS intragram /home/ubuntu/intragram/venv/bin/python3 /home/ubuntu/intragram/bot.py


[Install]
WantedBy=multi-user.target