[Unit]
Description=peer_location_bot
After=network.target

[Service]
Type=forking
WorkingDirectory=/home/mstoneho/peer_location_bot
Restart=always
RestartSec=3
ExecStart=/usr/bin/screen -L -dmS peer_location_bot /home/mstoneho/peer_location_bot/venv/bin/python3 /home/mstoneho/peer_location_bot/bot.py
EnvironmentFile=/etc/peer_location_bot/peer_location_bot.conf

[Install]
WantedBy=multi-user.target
